# This is Git's per-user configuration file.

[user]
	# See: signing git-commmits
	# https://stealthpuppy.com/signing-git-commits-for-sweet-verified-badges/
	signingkey = KEY
	name = NAME
	# Use your private GitHub email address
	# https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/setting-your-commit-email-address
	email = EMAIL
[core]
	# Globally excluded files
	excludesfile = ~/.gitignore
	# No time to learn VIM.
	editor = nano
[push]
	default = current
[pull]
	ff = only
	rebase = preserve
[fetch]
	prune = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[lfs]
	concurrenttransfers = 25
